$bg-color: #2a2a2a;
$text-color-primary: #fff;
$btn-bg-color:#014b7c;
$stylish-font: cursive;
$text-color-secondary:#3e3e3e;
$text-color-tertiary:#646464;
$section-header-font-size:2rem;
$sub-header-text-font-size: 1.5rem;

